html {
    background-color: #1a1a1a;
    color: white;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

/* background video section */


#bg_video {
    position: fixed;
    top: 0;
    left: 0;
    max-width: fit-content;
    max-height: 100%;
    object-fit: cover;
    z-index: -1;

    filter: blur(1rem);
    transform: scale(1);
}

.container {
    background-color: transparent;
    box-shadow: 0 0 5rem #1a1a1aa8;
    border: 0.01rem solid rgba(255, 255, 255, 0.525);
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
}

/* header section  */

.container .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    border: 0.1rem solid white;
    border-radius: 2rem;
    box-shadow: 0 0 10rem white;
    padding: 0;
    background: transparent;
    position: relative;
}

.container .header .logo {
    color: rgba(16, 96, 84, 0.717);
}

.container .header .logo h2 {
    font-size: 5rem;
}



.container .header .headerinfo a {
    color: rgba(0, 0, 0, 0.204);
    padding: 2rem;
    text-decoration: none;

}

.container .header .headerinfo a:hover {
    color: rgba(16, 96, 84, 0.917);
    cursor: pointer;


}

.container .header .list {
    color: rgba(26, 24, 24, 0.683);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown {
    position: absolute;
    top: calc(100% + 0.4rem);
    right: 1.5rem;
    display: none;
    flex-direction: column;
    gap: 0.2rem;
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 10;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.389);
    z-index: +2;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    display: block;
    font-size: 1.1rem;
}

.dropdown a:hover {
    color: rgba(16, 96, 84, 0.917);
    background: transparent;
    border: 0.02rem solid #ffffff38;
    box-shadow: 0 0 5rem #fff;
    border-radius: 0.4rem;
    padding: 0.3rem 0.5rem;
}

.dropdown.show {
    display: flex;
}


/* about section */

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1a1a1add;
    padding: 1rem;
}

.about .aboutContaner1 {
    font-size: 2rem;
    padding-top: 0;

}

.about .aboutContaner1 p {
    color: #092e2791;

}

.about .aboutContaner2 img {
    width: 25rem;

}


/* Projects slider placeholder card */


.swiper-slide.slider.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 16rem;
    border-radius: 0.8rem;
    border: 2px dashed rgba(178, 27, 27, 0.12);
    background: rgba(255, 255, 255, 0.02);
    color: #ffffff9f;
}

.swiper-slide.slider.placeholder .plus {
    font-size: 3.5rem;
    line-height: 1;
    opacity: 0.9;
}

.swiper-slide.slider.placeholder p {
    margin: 0.6rem 0 0;
}

.swiper-slide.slider.placeholder a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.swiper-slide.slider.placeholder:hover {
    transform: translateY(-6px);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.45);
}



/* Project section start */

.mySwiper {
    margin: 2.5rem;
    background: transparent;
    height: fit-content;
    border-radius: 2rem;
}

.mySwiper .slider-contaner {
    gap: 5rem;
}

.mySwiper h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: #1a1a1ad4;

}

.mySwiper h1 span {
    color: rgba(16, 96, 84, 0.717);
    font-size: 4rem;
    margin: 2rem;
}

.mySwiper .slider-contaner .slider {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.215);
    border-radius: 2.5rem;
    background: transparent;
    box-shadow: 0 0 15rem white;
    padding: 2rem;
}

.mySwiper .slider-contaner .slider:hover {
    cursor: pointer;
    background-color: #1a1a1a15;
}

.mySwiper .slider-contaner .slider img {
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}


.mySwiper .slider-contaner .slider p:hover {
    color: chocolate;
}

.mySwiper .slider-contaner .slider p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: transparent;
    margin-top: 2rem;
}

.mySwiper .slider-contaner .slider p a {
    font-size: 3rem;
    color: rgba(82, 249, 221, 0.917);

    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.mySwiper .slider-contaner .slider p a:hover {
    transform: scale(1.2);
    color: #1a1a1a;
    box-shadow: #1a1a1a;
}


.see-all-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-all {
    padding: 1rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.201);
    color: #1a1a1aab;
    border: 0.1rem solid white;
    box-shadow: 0 0 5rem black;
    width: 15rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.see-all:hover {

    background-color: rgb(15, 163, 126);
    box-shadow: 0 0 10rem white;
    cursor: pointer;
    color: white;

}


/* Reviews section start */

.reviews {
    margin: 2.5rem;
    border-radius: 2rem;
    height: fit-content;
}

.reviews .slider-contaner {
    gap: 5rem;
}

.reviews h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: #1a1a1ad4;

}

.reviews h1 span {
    color: rgba(16, 96, 84, 0.717);
    font-size: 4rem;
    margin: 2rem;
}

.reviews .slider-contaner .slider {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.215);
    border-radius: 2.5rem;
    background: transparent;
    box-shadow: 0 0 15rem white;
    padding: 2rem;
    height: 25rem;
}

.reviews .slider-contaner .slider:hover {
    cursor: pointer;
    background-color: #1a1a1a15;
}

.reviews .slider-contaner .slider img {
    width: 15rem;
    border-radius: 50%;
}

/* Reviews login pages start */

.reviewsloginPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
}

.reviewsloginPageContainer h2 {
    font-style: inherit;
    font-size: 2.5rem;
    color: #092e2791;
}

.reviewsloginPageContainer .reviewsLoginPages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    font-size: 1.5rem;
    color: rgb(44, 46, 46);
}


.reviewsloginPageContainer .reviewsLoginPages .input {
    font-size: 1.5rem;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.391);
    border-radius: 1.5rem;
    border: 0.1rem solid white;
    box-shadow: 0 0 10rem white;
    width: 100%;

}

.reviewsloginPageContainer .reviewsLoginPages .input:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.51);
    border: none;
    box-shadow: 0 0 10rem black;
}

.reviewsloginPageContainer .reviewsLoginPages .reviewsid {
    font-size: 1.5rem;
    padding: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 200%;
    height: 10rem;
    background: rgba(255, 255, 255, 0.391);
    border-radius: 1.5rem;
    border: 0.1rem solid white;
    box-shadow: 0 0 10rem white;
}

.reviewsloginPageContainer .reviewsLoginPages .reviewsid:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.822);
    border: none;
    box-shadow: 0 0 10rem black;
}


/* Social media section start */

.socialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: transparent;
    margin-top: 2rem;
}

.socialMedia a {
    font-size: 3rem;
    color: rgba(82, 249, 221, 0.917);

    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.socialMedia a:hover {
    transform: scale(1.2);
    color: #1a1a1a;
    box-shadow: #1a1a1a;
}
































@media (max-width:1450px) {

    .container .header {
        font-size: 1.7rem;
        padding: 0.7rem;
    }

    .container .header .logo h2 {
        font-size: 4.5rem;
    }

    .reviewsloginPageContainer .reviewsLoginPages .reviewsid {
        width: 150%;
    }
}

@media (max-width:1160px) {

    .container .header {
        font-size: 1.5rem;
        padding: 0.6;
    }

    .container .header .logo h2 {
        font-size: 4rem;
    }

    .container .header .headerinfo a {
        padding: 1.5rem;

    }



    .Projects h1 {
        font-size: 3.2rem;
    }

    .Projects h1 span {
        font-size: 3.8rem;
        margin: 1.8rem;
    }

    .Projects .slider-contaner .slider {
        padding: 1.8rem;
    }


    .Projects .slider-contaner .slider img {
        width: 12rem;

    }

    .Projects .slider-contaner .slider p {
        font-size: 1.3rem;
    }




    .see-all-btn .see-all {
        width: 13rem;
        margin: 0.9rem;
        margin-bottom: 1.8rem;
    }

    .reviews h1 {
        font-size: 3.2rem;
    }

    .reviews h1 span {
        font-size: 3.8rem;
        margin: 1.8rem;
    }

    .reviews .slider-contaner .slider {
        padding: 1.8rem;
        height: 23rem;
    }

    .reviews .slider-contaner .slider img {
        width: 12rem;
    }

    .reviewsloginPageContainer .reviewsLoginPages .reviewsid {
        width: 120%;
    }




}

@media (max-width:960px) {

    .container .header {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .container .header .logo h2 {
        font-size: 3.5rem;
    }

    .container .header .headerinfo a {
        padding: 1rem;

    }

    .about {
        padding: 0.8rem;
    }

    .about .aboutContaner1 {
        font-size: 1.8rem;

    }


    .about .aboutContaner2 img {
        width: 20rem;

    }

    .Projects h1 {
        font-size: 3rem;
    }

    .Projects h1 span {
        font-size: 3.6rem;
        margin: 1.7rem;
    }

    .Projects .slider-contaner .slider {
        padding: 1.7rem;
    }


    .Projects .slider-contaner .slider img {
        width: 11rem;

    }

    .Projects .slider-contaner .slider p {
        font-size: 1.1rem;
    }




    .see-all-btn .see-all {
        width: 11rem;
        margin: 0.8rem;
        margin-bottom: 1.6rem;
    }

    .reviews h1 {
        font-size: 3rem;
    }

    .reviews h1 span {
        font-size: 3.6rem;
        margin: 1.7rem;
    }

    .reviews .slider-contaner .slider {
        padding: 1.7rem;
        height: 22rem;
    }

    .reviews .slider-contaner .slider img {
        width: 11rem;
    }

    .reviewsloginPageContainer .reviewsLoginPages .reviewsid {
        width: 100%;
    }

}


@media (max-width:760px) {

    .container .header {
        font-size: 1.1rem;
    }

    .container .header .headerinfo a {
        display: none;

    }

    .container .header .list {
        display: inline-block;
    }

    .about {
        padding: 0.7rem;
    }

    .about .aboutContaner1 {
        font-size: 1.5rem;

    }


    .about .aboutContaner2 img {
        width: 18rem;

    }

    .Projects h1 {
        font-size: 2.8rem;
    }

    .Projects h1 span {
        font-size: 3.5rem;
        margin: 1.5rem;
    }

    .Projects .slider-contaner .slider {
        padding: 1.5rem;
    }


    .Projects .slider-contaner .slider img {
        width: 10rem;

    }

    .Projects .slider-contaner .slider p {
        font-size: 1rem;
    }




    .see-all-btn .see-all {
        width: 10rem;
        margin: 0.7rem;
        margin-bottom: 1.5rem;
    }

    .reviews h1 {
        font-size: 2.8rem;
    }

    .reviews h1 span {
        font-size: 3.5rem;
        margin: 1.5rem;
    }

    .reviews .slider-contaner .slider {
        padding: 1.5rem;
        height: 20rem;
    }

    .reviews .slider-contaner .slider img {
        width: 10rem;
    }

    .reviewsloginPageContainer .reviewsLoginPages .reviewsid {
        width: 90%;
    }

}

@media (max-width:530px) {

    .container .header {
        font-size: 1rem;
    }

    .container .header .logo h2 {
        font-size: 3rem;
    }


    .about {
        padding: 0.5rem;
    }

    .about .aboutContaner1 {
        font-size: 1.2rem;

    }


    .about .aboutContaner2 img {
        width: 16rem;

    }

    .Projects h1 {
        font-size: 2.8rem;
    }

    .Projects h1 span {
        font-size: 3.3rem;
        margin: 1.3rem;
    }

    .Projects .slider-contaner .slider {
        padding: 1.3rem;
    }


    .Projects .slider-contaner .slider img {
        width: 9rem;

    }

    .Projects .slider-contaner .slider p {
        font-size: 0.9rem;
    }

    .see-all-btn .see-all {
        width: 9rem;
        margin: 0.6rem;
        margin-bottom: 1.4rem;
    }

    .reviews h1 {
        font-size: 2.4rem;
    }

    .reviews h1 span {
        font-size: 3rem;
        margin: 1rem;
    }

    .reviews .slider-contaner .slider {
        padding: 1.2rem;
        height: 18rem;
    }

    .reviews .slider-contaner .slider img {
        width: 8rem;
    }

    .reviewsloginPageContainer .reviewsLoginPages .reviewsid {
        width: 80%;
    }
}