html{
    background-image: url(93ea1bcf8e5fd7ec65bfceecc57ad0fe.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

body{

    font-family: serif;
    text-align: center;
}
div{
    background-color:transparent;
    backdrop-filter: blur(0.5rem);
    box-shadow: black 0.2rem 0.2rem 5rem 0.5rem;
    border : 0.2rem solid black;
    border-radius: 5rem;
    border: none;
    margin: 5rem;
    padding: 2rem;

}
body div h1{
    color: rgb(69, 61, 61);
}
body div img{
    width:25rem;
    text-align: center;
    /* padding-left: 10rem; */
    border: 0.1rem solid black;
    border-radius: 2rem;
    box-shadow: black 0.2rem 0.2rem 5rem 0.5rem;
    border: none;
}
body div a{
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: rgb(7, 64, 69);

    font-size: 1.5rem;
}
















@media (max-width:991px){

    html{
        font-size: 55%;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }


}    